// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 13px;
  margin: 33px;
}

table{
  width: 500px;
  height: 100px;
}
h1{
  margin: 17.42px 0;
  font-size: 20px;
  line-height: 20px
}

p{
  margin: 33px;

}

tr{
  order: 1;
}

td{
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  vertical-align: inherit;
}

strong{
 font-family: verdana, arial, helvetica, sans-serif;
}

#error_explanation{
  width: 450px;
  margin: 0px 0px 20px;
  padding: 7px 5px 0px;
}

#error_explanation h2{
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  background-color: red;
  color: white;
}

div ul li{
  font-size: 12px;
  margin: 0px 20px;
}

.notice{
  color: green;
}

th{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}